.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #fdfcfc;
}

.leftbar-container {
  flex-shrink: 0;
  width: 240px;
}

.rightbar-container {
  flex-grow: 1;
  margin-left: 30px;
  padding: 40px;
  background: #fff;
  min-height: 100vh;
  transition: background 0.3s ease;
}

@media (max-width: 768px) {
  .dashboard-wrapper {
    flex-direction: column;
  }

  .leftbar-container {
    width: 100%;
    position: static;
  }

  .rightbar-container {
    margin-left: 10px;
    padding: 20px;
  }
}
